*{
    font-family: sans-serif;
}
.container{
    margin-bottom: 100px;
  
}
.carousel-item{
    padding: 20px 40px;
}
.carousel{
    background-image: linear-gradient(45deg, rgb(247, 174, 186), rgb(247, 228, 179));
    border-radius: 10px;
}
.btn{
    border:none;
    background-image: linear-gradient(45deg, rgb(197, 48, 73), rgb(214, 142, 154));
    color: white;
    border-radius: 10px;
    padding: 8px 25px;
    cursor: pointer;
}
.price{
    color: rgb(197, 48, 73);
}
.cat1, .cat2, .cat3{
border-radius: 10px;
color: white;
padding: 10px 20px;
}
.cat1{
 
   background-image: linear-gradient(45deg, rgb(190, 115, 49), gold);
}
.cat2{
    background-image: linear-gradient(45deg, rgb(143, 4, 69), rgb(175, 91, 231));
}
.cat3{
   background-image: linear-gradient(45deg, rgb(0, 255, 213), blue);
}
.catagories img{
 width: 100px;   
}